$font-regular: Roboto, Arial, sans-serif;

html, body, #root, #page-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: Roboto, Arial, sans-serif;
}